.board {
	padding-left: 20px;
	padding-right: 20px;
}

.heading {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 20px;
}

.boardTitle {
	text-align: left;
	box-sizing: border-box;
}

.boardContent{
	padding: 5px;
	text-align: left;
	color: white;
	white-space: pre-line;
	font-size: 15px;
	padding-bottom: 40px;
}

.select {
	font-size: 13px;
	display: flex;
	color: #adb5bd;
	justify-content: space-between;
	margin-bottom: 20px;
}

.report {
	a {
		color: white;
	}
}