.BoardWriteTemplate {
    font-size: 15px;
    margin-top: 10px;
}

.main_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exit {
    color: #0BF3BC;
    float: left;
    margin-left: 10px;
}

.hi_alcohol{
    color: #0BF3BC; 
    font-size: 25px;
    display: inline-block;
    
}

.completion {
    color: #0BF3BC;
    float: right;
    margin-right: 10px;
}


a { 
    text-decoration:none ;
} 

.container{
    text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.title {
    width: 95%;
    input{
    background-color:#242424; 
    height: 30px; 
    width: 95%;
    color: white;
    margin-bottom: 20px;
    border: none;
    border-bottom: white 1px solid;
	padding: 10px;
    &:focus {
        outline: none;
        }
    }
    
}

.contents {
	width: 100%;
    textarea {
        background-color:#242424; 
        height: 500px; 
        width: 90%;
        color: white;
        border-radius: 0.5em;
        border-color: white;
        padding: 10px;
    }
}