$back-color: #242424;
.dropdown {
    text-align: right;
    margin-right: 20px;
}

.sort select {
    background-color: $back-color;
    color: white;
    border: 0;
    padding: 3px;
    outline: 0;
}