.addRecipe {
    font-size: 15px;

    position: absolute;
    width: 136px;
    height: 39px;
    top: 70px;
    right: 30px;

    float: right;
    
    background: #0BF3BC;
    border: 1px solid #0BF3BC;
    border-radius: 10px;
}

.add {
    margin-bottom: 60px;
}