.SearchListItem {
    margin-bottom: 50px;
}

.list {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
    a {
        margin-top: 10px;
        margin-left: 10px;
        float: left;
        font-size: 17px;
        color: white;
        text-decoration: none;
    }
}

.list-img {
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    float: left;
}

.recipe-img {
    width: 100px;
    height: 100px;
}

#recipe {
    border: 0;
    font-size: 20px;
    color: white;
    background-color: #242424;
    float: right;
    cursor: pointer;
}

.modiRecipe {
    float: right;
    button {
        border: 0;
        font-size: 16px;
        color: white;
        background-color: #242424;
        cursor: pointer;
    }
}

.input {
    div {
        height: 35px;
        line-height: 35px;
        padding: 0px 10px;
        margin-top: 15px;
        margin-right: 12px;
        border: 1px solid #0BF3BC;
        border-radius: 15px;
        font-size: 15px;
        color: #0BF3BC;
        float: left;
        display: inline-block;
    }
}